.card-margin {
    margin-bottom: 20px; 
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.example-header-image {
    background-image: url("../../../../assets/img/examUser.png");
    background-size: cover;
  }

  .margin{
    margin-left: 5px;
  }