<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elegant Dashboard | Dashboard</title>
  <!-- Favicon -->
 
</head>

<body>
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
<app-admin-sidebar></app-admin-sidebar>

<div class="main-wrapper" >
          <app-top-bar></app-top-bar>
          <div class="col-md-10">
            <div class="container" style="margin-top: 100px; margin-left: 120px;">
                <div class="section-title">
                    <h4>Liste offres</h4>
                  </div>
                  <br>
                 
<table class="table">
    <thead>
      <tr>
        <th>Catégorie</th>
        <th>Nom</th>
        <th>Sujet</th>
        <th>Description</th>
        <th>Competences</th>
        <th>Type Contrat</th>
        <th>Actions</th>
        </tr> 
        
    </thead>
    <tbody>
        <tr *ngFor="let o of offres">
            <td>{{o.categorieLibelle}}</td>  
            <td>{{o.nom}}</td> 
            <td>{{o.sujet}}</td> 
            <td>{{o.description}}</td> 
            <td>{{o.competences}}</td> 
            <td>{{o.typeContrat}}</td>
            <td><img src="assets\img2\icons8-trash-20.png" (click)="deleteOffre(o.id)" style="margin-right: 10px;">
            <img src="assets\img2\icons8-modifier-la-propriété-20.png"  (click)="gotToEditOffre(o.id)"></td> 
        </tr>
    </tbody>
</table>

</div>
          </div>
</div>
</div></body></html>