<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elegant Dashboard | Dashboard</title>
  <!-- Favicon -->
 
</head>

<body>
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
<app-admin-sidebar></app-admin-sidebar>

<div class="main-wrapper">
          <app-top-bar></app-top-bar>
          <main class="main users chart-page" id="skip-target">
            <div class="container">
                <div class="section-title">
                    <h1>Modifier Quiz</h1>
                </div>
                <br>

                <mat-card>
                    
                
                    <div class="container">
                
                        <div class="row">
                
                            <div class="col-md-8 offset-md-2">
                
                                <form *ngIf="quiz" (ngSubmit)="updateData()">
                
                                    <!-- Title field -->
                                    <mat-form-field class="w100" appearance="fill">
                
                                        <mat-label>Enter Title</mat-label>
                
                                        <input 
                                        [(ngModel)]="quiz.title"
                                        type="text" name="title" placeholder="Enter here" matInput required/>
                
                                    </mat-form-field>
                
                                    <!-- Description field -->
                
                                    <mat-form-field class="w100" appearance="fill">
                
                                        <mat-label>Description</mat-label>
                
                                        <textarea 
                                        [(ngModel)]="quiz.description"
                                        type="text" 
                                        name="description"  placeholder="Enter here"
                                        matInput
                                        rows="5">  
                                    </textarea>
                                    </mat-form-field>
                
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- //maxmarks -->
                                            <mat-form-field class="w100" appearance="fill">
                
                                                <mat-label>Maximum Marks</mat-label>
                        
                                                <input
                                                [(ngModel)]="quiz.maxMarks"
                                                 type="text" name="maxMarks" placeholder="Enter here" matInput />
                        
                                            </mat-form-field>
                                        </div>
                
                                        <div class="col-md-6">
                                            <!-- number of question to be shown -->
                                            <mat-form-field class="w100" appearance="fill">
                
                                                <mat-label>Nombre des questions</mat-label>
                        
                                                <input
                                                [(ngModel)]="quiz.numberOfQuestions"
                                                 type="text" name="numberOfQuestions" placeholder="Enter here" matInput />
                        
                                            </mat-form-field>
                                        </div>
                                    </div>
                
                                    <!-- acctive field -->
                                    <mat-slide-toggle 
                                    name="active"
                                    [(ngModel)]="quiz.active"
                                    
                                    class="example-margin" [checked]="false" color="primary">
                                    
                                      Publish Status
                                    </mat-slide-toggle>
                                    <br>
                
                                    <!-- category select -->
                                    <mat-form-field appearance="fill" class="mt20 w100">
                                        <mat-label>Categories</mat-label>
                                        <mat-select name="category" [(ngModel)]="quiz.category.cid">
                                                                  
                                            <mat-option *ngFor="let c of categories" [value]="c.id">
                                                {{c.title}}
                                            </mat-option>                            
                
                                          
                                        </mat-select>
                                      </mat-form-field>
                
                                      <div class="container text-center">
                                        <button mat-raised-button color="primary">Modifier</button>
                                      </div>
                                    
                
                                </form>
                
                            </div>
                        </div>
                
                    </div>
                </mat-card>
                <!-- {{quiz | json}} -->
                
              </div>
              
</main>
</div>
</div></body></html>